.navbar-custom {
    background-color: #6f2dbd !important;
    color: #fdc5f5;
}

/* Footer */
.footer-custom {
    background-color: #6f2dbd !important;
    color: #fdc5f5;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
  
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  width: 50px;
  height: 50px;

}

.social-circle li i {
  margin:0;
  line-height:50px;
}

/* home */
.widget-container>.row {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.widget-container>.row>[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.widget {
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
    position: relative;
    vertical-align: middle
}

.widget .row {
    font-size: 0;
    margin-left: 0;
    margin-right: 0
}

.widget .row:before {
    display: none
}

.widget .row .col {
    font-size: 11px
}

.widget .row .col:first-child {
    -webkit-border-radius: 2px 0 0 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px 0 0 2px;
    -moz-background-clip: padding;
    border-radius: 2px 0 0 2px;
    background-clip: padding-box
}

.widget .row .col:last-child {
    -webkit-border-radius: 0 2px 2px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 2px 2px 0;
    -moz-background-clip: padding;
    border-radius: 0 2px 2px 0;
    background-clip: padding-box
}

.widget .col {
    display: inline-block;
    vertical-align: top
}

.widget [class*=col-] {
    font-size: 11px;
    margin: 0;
    padding: 0
}

.widget .widget-stat {
    position: absolute
}

.widget .widget-stat.top {
    top: 7px
}

.widget .widget-stat.right {
    right: 10px
}

.widget .widget-stat.left {
    left: 10px
}

.widget .widget-stat.bottom {
    bottom: 7px
}

.widget .widget-stat strong,
.widget .widget-stat span,
.widget .widget-stat i,
.widget .widget-stat div {
    vertical-align: top
}

.widget .progress {
    margin-bottom: 0
}

.profile-card .card-header .header-avatar {
    text-align: center
}

.profile-card .card-header .header-avatar img {
    margin: 25px 0 15px;
    width: 200px;
    height: 200px
}

.profile-card .card-header .header-name {
    font-size: 24px;
    font-weight: 400;
    text-align: center
}

.profile-card .card-body {
    -webkit-transform: skew(0deg, -10deg);
    -moz-transform: skew(0deg, -10deg);
    -o-transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    margin-top: 30px;
    min-height: 100px;
    padding: 50px 20px
}

.profile-card .card-body .body-description {
    -webkit-transform: skew(0deg, 10deg);
    -moz-transform: skew(0deg, 10deg);
    -o-transform: skew(0deg, 10deg);
    -ms-transform: skew(0deg, 10deg);
    transform: skew(0deg, 10deg);
    color: #fff;
    font-size: 20px
}

.profile-card {
    margin-top: 50px;
    padding: 10px 0 20px
}

.bg-primary {
    background-color: #c2a0ef !important;
    color: #fff !important
}

.bg-info {
    background-color: #c2a0ef !important;
    color: #fff !important
}

.bg-warning {
    background-color: #c2a0ef!important;
    color: #fff !important
}

.bg-transparent {
    background-color: transparent !important
}

.bg-body {
    background-color: #f1f3f2 !important
}


/* Team */
.img_team {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    max-width: 300px;
}
 
/* Mobile fix */
@media (max-width: 767.98px) {
    .img_team {
        float: none;
        display: block;
        margin: 0 auto 15px;
    }
}

/* contact*/
.form-sec{
    width:400px; 
    background:#ccc; 
    padding:15px;
    width: 400px;
    background: #f8f9fa;
    padding: 15px;
    box-shadow: 0 0 4px #ccc;
}